.services-header {
  text-align: center;
  padding: 5px 20px 30px;
  background-color: white;
}

.services-header h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

.services-header p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

/*分割线*/
.section-divider {
  width: 100px;
  height: 4px;
  background: linear-gradient(to right, #0066cc, #0066cc);
  margin: 0 auto;
  border-radius: 2px;
}

.service-detail {
  padding: 50px 20px;
  background-color: #f9f9f9;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;
}

.service-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.service-content img {
  flex: 0 0 45%;
  height: 300px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.service-text {
  flex: 0 0 45%;
  min-width: 300px;
  max-width: 45%;
}

.service-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.service-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 18px;
}

.service-text ul {
  padding-left: 20px;
  font-size: 18px;
}

.service-text li {
  margin-bottom: 10px;
}

.section-line {
  width: 90%;
  max-width: 1200px;
  height: 2px;
  background: linear-gradient(to right, black, white);
  margin: 0 auto;
  border-radius: 2px;
}

/* 让 normal 是 图片在左 
.service-detail .service-content {
  flex-direction: row;
}

 让 alt 是 图片在右 
.service-detail.alt .service-content {
  flex-direction: row-reverse;
}*/

.why-us {
  background: #f5f5f5;
  padding: 30px 20px;
  text-align: center;
}

.why-us h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
}

.why-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.why-item {
  max-width: 250px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.why-item:hover {
  transform: translateY(-5px);
}

.why-item img {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}

.why-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #0066cc;
}

.why-item p {
  font-size: 16px;
  color: #555;

}




